# Q2..

In [1]:
#sum of 10 natural number using for loops
sum=0
for i in range(11):
    sum+=i
print(sum)

55

In [2]:
#product of 10 natural number using for loop
pro=1
for i in range(1,11):
    pro=pro*i
print(pro)

3628800

In [5]:
#sum of 10 natural number using while loop

i=1
sum=0
while(i<=10):
    sum=sum+i
    i=i+1
print(sum)

55

In [6]:
#product of 10 number using for while loop
i=1
pro=1
while(i<=10):
    pro*=i
    i+=1
print(pro)

3628800

# Q3..

In [6]:
m=eval(input("Enter the units number"))
if( m<=100 and m>0):
    print ("the user will be charge Rs. 4.5 per unite and the total charge is  " , m*4.5)
elif(m<=200 and m>100):
    print(" the user will be charge Rs. 6 per unite and the total charge is :",m*6)
elif(m<=300 and m>200):
    print("the user will be charge Rs. 10 per unite  and the total charge is :",m*10)
else:
    print (" the user will be chare Rs.20 per unite and the total charge is :",m*20)

Enter the units number310
 the user will be chare Rs.20 per unite and the total charge is : 6200

# Q5...

In [15]:
string = "I want to become a data scientist"

print ("the number of a is given string ")
print(string.count("a"))
print ("the number of e is given string ")
print(string.count("e"))
print ("the number of i is given string ")
print(string.count("i"))
print ("the number of o is given string ")

print(string.count("o"))
print ("the number of u is given string ")

print(string.count("u"))
print ("the number of I is given string ")
print(string.count("I"))

the number of a is given string
4
the number of e is given string
3
the number of i is given string
2
the number of o is given string
2
the number of u is given string
0
the number of I is given string
1

# Q4...

In [10]:
l=[]
for i in range(1, 101):
    i**3
    print(i**3)

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000